body {
  font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, sans-serif;
}

* {
  box-sizing: border-box !important;
}

.sidebar-btn {
  padding: 1rem;
  width: 100%;
  text-transform: none;
  text-align: left;
}