body {
  font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, sans-serif;
}

* {
  box-sizing: border-box !important;
}

.sidebar-btn {
  padding: .8rem 2rem !important;
  justify-content: start !important;
  width: 100%;
  text-transform: none;
  &-active{
    background: #0077B6 !important;
  }
}

.search-btn {
  border: 2px solid #023E8A;
  position: absolute;
  right: 12rem;
  top: 1rem;
  align-items: center;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 10px;

  &:hover {
    background: #001e3c;
  }

  &__text {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #3c6870;
    margin: 0;
  }

  &__key {
    padding: 1px;
    text-transform: none;
    font-weight: bold;
  }
}