body {
  font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, sans-serif;
}

* {
  box-sizing: border-box !important;
}

.sidebar-btn {
  padding: .8rem 2rem !important;
  justify-content: start !important;
  width: 100%;
  text-transform: none;
}