body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0a1929;
}

:root {
  color-scheme: dark;
}

.global-tag-btn {
  padding: 10px 20px;
  display: inline;
  margin-top: 5rem !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  background: #0077B6 !important;
  margin-right: 10px;
}

* {
  font-family: SF Pro Text !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}